<h1>New Beer</h1>

<%= form_for(@beer) do |f| %>
  <% if @beer.errors.any? %>
    <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this record from being saved:</h2>
    <ul>
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :brewery %>
  <%= f.text_field :brewery, collection: Breweries.all %>

  <%= f.label :style %>
  <%= f.text_field :style, collection: @styles %>

  <%= f.submit %>
<% end %>
